POSTGRES_DB=codefortress
POSTGRES_USER=codefortress
POSTGRES_PASSWORD=change_this_local_password
POSTGRES_PORT=5432

JWT_SECRET=replace_with_at_least_32_random_characters
JWT_ISSUER=codefortress-api
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=P30D